<%= form_with(model: note, local: true, class: "form-horizontal") do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <%= text_field_tag 'title', @note.title, class: 'form-control folder_name' %>
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">content</label>
    <div class="col-sm-10">
      <%= text_area_tag(:content, @note.content, size: "24x6", class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag 'Edit', class: "btn btn-primary" %>
      <%= link_to 'Cancel', root_path, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
