<div class="list-group">
  <span class="list-group-item-heading"><%= @note.title %></span>
    
  <p class="list-group-item-text"><%= @note.content %></p>
</div>

<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-primary" %>

<%= link_to 'Delete', note_path, class: "btn btn-default", method: 'delete' %>
