<div id="newFolderModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Folders</h4>
      </div>
      <div class="modal-body">
        <form action="/folders" class="form-horizontal" data-remote="true" autocomplete="off" style="align-items: center;" method="post">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <%= text_field_tag 'name', nil, class: 'form-control' %>
            </div>
          </div>
          <% if @folder.present? %>
            <%= hidden_field_tag(:parent_id, @folder.id) %>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= submit_tag 'Create', class: "btn btn-success" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
