<div id="newNotesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Notes</h4>
      </div>
      <div class="modal-body">
        <form action="/notes" class="form-horizontal" data-remote="true" autocomplete="off" style="align-items: center;" method="post">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <%= text_field_tag 'title', nil, class: 'form-control folder_name' %>
            </div>
          </div>
          <div class="form-group">
            <label for="content" class="col-sm-2 control-label">content</label>
            <div class="col-sm-10">
              <%= text_area_tag(:content, "", size: "24x6", class: "form-control") %>
            </div>
          </div>
          <% if @folder.present? %>
            <%= hidden_field_tag(:folder_id, @folder.id) %>
          <% end %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= submit_tag 'Create', class: "btn btn-success" %>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
