<div class="main-folder-div row">
  <% @folders.each do |folder| %>
    <div class="col-md-2 text-center">
      <a href="/folders/<%=folder.id%>">
        <%= image_tag 'folder.png', class: "folders-image" %>
        <div class="center-block"><%= folder.name %></div>
      </a>
      <%= link_to 'Delete', "/folders/#{folder.id}", class: "btn btn-default", method: 'delete' %>
    </div>
  <% end %>
</div>

<div class="main-notes-div row">
  <% @notes.each do |note| %>
    <div class="col-md-2 text-center">
      <a href="/notes/<%=note.id%>">
        <%= image_tag 'notes.png', class: "notes-image" %>
        <div class="center-block"><%= note.title %></div>
      </a>
    </div>
  <% end %>
</div>

<div class="new-folder-dailog">
  <%= render 'new_folder_modal' %>
</div>

<div class="new-folder-dailog">
  <%= render 'new_notes_modal' %>
</div>
