<ol class="breadcrumb parentsFolderNameList">
  <% @sup_folders_names.reverse.each_with_index do | folder, index | %>
    <li>
      <a href="/folders/<%=@sup_folders_ids[@sup_folders_ids.length-index-1]%>">
        <%= folder %>
      </a>
    </li>
  <% end %>
  <li>
    <a href="/folders/<%=@folder.id%>">
      <%= @folder.name %>
    </a>
  </li>
</ol>
  
<div class="main-folder-div row">
  <% @sub_folders.each do |sub_folder| %>
    <div class="col-md-2 text-center">
      <a href="/folders/<%=sub_folder.id%>">
        <%= image_tag 'folder.png', class: "folders-image" %>
        <div class="center-block"><%= sub_folder.name %></div>
      </a>
      <%= link_to 'Delete', "/folders/#{sub_folder.id}", class: "btn btn-default", method: 'delete' %>
    </div>
  <% end %>
</div>
<div class="main-notes-div row">
  <% @notes.each do |note| %>
      <div class="col-md-2 text-center">
      <a href="/notes/<%=note.id%>" >
        <%= image_tag 'notes.png', class: "notes-image" %>
        <div class="center-block"><%= note.title %></div>
      </a>
    </div>
  <% end %>
</div>

<div class="new-folder-dailog">
  <%= render 'new_folder_modal' %>
</div>

<div class="new-folder-dailog">
  <%= render 'new_notes_modal' %>
</div>
