// Place all the styles related to the Folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.folders-image{
  max-width: 100px;
}

.notes-image{
  max-width: 50px;
}

.main-folder-div .col-md-2,
.new-folder-div .col-md-2 {
  margin-bottom: 25px;
}

.new-folder-div{
  display: none;
}

.parentsFolderNameList {
  font-size: 20px;
}
