// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-group span{
  font-size: 32px;
}

.list-group p{
  font-size: 20px;
  color: #767171;
}
