<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading"><h2>Notes App:</h2></div>
        <div class="panel-body">
          <div class="row top-row">
            <div class="col-md-4">
              <div class="home-link">
                <%= link_to 'Home', root_path %>
              </div>    
            </div>
            <div class="col-md-4">
              <%= form_tag(search_folder_path, method: :get) do %>
                <%= text_field_tag :name %>
                <%= submit_tag 'Search' %>
              <% end %>
            </div>
            <div class="col-md-4 text-right">
              <div class="create-links">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newFolderModal">New Folder</button>          
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newNotesModal">New Note</button>            
              </div>
            </div>
          </div>
          <hr/>
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
                  <%= value %>
            </div>
          <% end %>
          
          <%= yield %>
        </div>
      </div>      
    </div>
  </body>
</html>
